<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
<p>Your latest payment failed to go through</p>

<p>
<%= @template%>
</p>



</body>
</html>