<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
<p>Your latest payment failed to go through</p>

<p>Update your card information here <%= @url %>
<%= link_to 'here',new_user_session_url%></p>

<p><%= form_tag users_url , method: "put" do %>
	<script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
		data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
		data-description="Update card details"
		data-label= "update Card Details"
		data-panel-label = "update Card Details"
		data-locale="auto"> 
	</script>
<% end %>
</p>
</body>
</html>