<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
	
	<%= @template.html_safe%>

	<%='<script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
	data-key="pk_test_afXp5UfeGca02PSLmJ5gnqEz"
	data-description="Update card details"
	data-label= "update Card Details"
	data-panel-label = "update Card Details"
	data-locale="auto">
	</script>'.html_safe%>

  </body>
</html>