<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
	
	<%= @template.html_safe%>

	<%= link_to 'update credit card', riskycustomers_url(:uid @uid),:method=>'post'%>

  </body>
</html>