<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="keywords" content="">

    <title>Nestmetric</title>

    <!-- Styles -->
    <link href="assets/landing/core.min.css" rel="stylesheet">
    <link href="assets/landing/thesaas.min.css" rel="stylesheet">
    <link href="assets/landing/style.css" rel="stylesheet">

    <!-- Favicons -->
    <!-- <link rel="apple-touch-icon" href="assets/img/apple-touch-icon.png">
    <link rel="icon" href="assets/img/favicon.png"> -->
  </head>

  <body>


    <!-- Topbar -->
    <nav class="topbar topbar-inverse topbar-expand-sm">
      <div class="container">
        
        <div class="topbar-left">
          <a class="topbar-brand" href="index.html">
            <!-- <img class="logo-default" src="assets/img/logo.png" alt="logo">
            <img class="logo-inverse" src="assets/img/logo-light.png" alt="logo"> -->
            <%= image_tag "logo.png", class: 'logo-inverse',:style => "max-height: 50px;"  %>
          </a>
        </div>


        <div class="topbar-right">
          <a class="btn btn-sm btn-outline btn-white mr-4" href="">Login</a>
          <a class="btn btn-sm btn-outline btn-white hidden-sm-down" href="">Register</a>
        </div>

      </div>
    </nav>
    <!-- END Topbar -->




    <!-- Header -->
    <header class="header header-inverse h-fullscreen p-0 bg-primary overflow-hidden" style="background-image: linear-gradient(to right, #6D5197  0%, red 100%);">
      <canvas class="constellation"></canvas>

      <div class="container text-center">

        <div class="row h-full align-items-center">
          <div class="col-12 col-md-8 offset-md-2">

            <h1 class="display-4">Automated Machine Learning for Your Entire Business 
              
              </h1>
            <br>
            <p class="lead text-white fs-20">AI predictions accessible to businesses of all sizes and budgets.
              That provides high-quality results for any predictive task in minutes. 
            </p>
            <br>
            <a class="btn btn-xl btn-round btn-primary" href="">Get Started</a>

          </div>
        </div>

      </div>
    </header>
    <!-- END Header -->






    <!--
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      | CTA
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      !-->
      <section class="section section-inverse py-40" style="background-color: #8ea6e6">
        <div class="container">
          <div class="row gap-y align-items-center">
            <div class="col-12 col-md-9">
              <h4 class="fw-300 mb-0">Industry: SaaS, Banking,  Healthcare,   Insurance,  Fintech,    Marketing  & Manufacturing
                </h4>
            </div>

            <div class="col-12 col-md-3">
              <a class="btn btn-round btn-white" href="">Get Started</a>
            </div>
          </div>
        </div>
      </section>



    <!-- Main container -->
    <main class="main-content">




      <!--
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      | Features
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      !-->
      <section class="section">
        <div class="container">
          <header class="section-header mb-0">
            <small><strong></strong></small>
            <h2>Point-and-click Automated Machine Learning Platform 
            </h2>
            <hr>
            <p class="lead">Nestmetric allows anyone in an organization to create a machine learning models with just a few clicks of a button – no coding required. 
              
              .</p>
          </header>


          
          <div class="row gap-y">
            
            <div class="col-12 offset-md-2 col-md-8 mb-30">
              <!-- <img src="/" alt="..." data-aos="fade-up"> -->
              <%= image_tag "welcome.gif", data-aos: 'fade-up'%>
            </div>


            <div class="col-12 col-md-6 col-xl-4">
              <div class="flexbox gap-items-4">
                <div>
                  <i class="fa fa-tv fs-25 pt-4 text-secondary"></i>
                </div>

                <div>
                  <h5>Seamless integration 
                  </h5>
                  <p>Nestmetric automatically takes in raw data from a variety of sources and formats (CSV) and processes it into a form that can be used by its state-of-the-art learning algorithms.
                    .</p>
                </div>
              </div>
            </div>


            <div class="col-12 col-md-6 col-xl-4">
              <div class="flexbox gap-items-4">
                <div>
                  <i class="fa fa-wrench fs-25 pt-4 text-secondary"></i>
                </div>

                <div>
                  <h5>AutoML
                    
                  </h5>
                  <p>Nestmetric  automate every step of the machine learning process, creating an end-to-end solution that works at the speed of your business.</p>
                </div>
              </div>
            </div>


            <div class="col-12 col-md-6 col-xl-4">
              <div class="flexbox gap-items-4">
                <div>
                  <i class="fa fa-cubes fs-25 pt-4 text-secondary"></i>
                </div>

                <div>
                  <h5>
                    Model Selection 
                   </h5>
                  <p>You can use Nestmetric to evaluate the performance of each model and selects the winner on an ongoing basis.</p>
                </div>
              </div>
            </div>


            <div class="col-12 col-md-6 col-xl-4">
              <div class="flexbox gap-items-4">
                <div>
                  <i class="fa fa-code fs-25 pt-4 text-secondary"></i>
                </div>

                <div>
                  <h5> Data Preprocessing
                  </h5>
                  <p> Collects raw data points of structured data and ingests it into a machine learning framework.
                    .</p>
                </div>
              </div>
            </div>


            <div class="col-12 col-md-6 col-xl-4">
              <div class="flexbox gap-items-4">
                <div>
                  <i class="fa fa-file-text-o fs-25 pt-4 text-secondary"></i>
                </div>

                <div>
                  <h5>Learning 
                    
                  </h5>
                  <p>Nestmetric  predictive platform adapts in real-time to ongoing data as it’s ingested, constantly learning and adapting to optimize for your strategic business goals.</p>
                </div>
              </div>
            </div>


            <div class="col-12 col-md-6 col-xl-4">
              <div class="flexbox gap-items-4">
                <div>
                  <i class="fa fa-download fs-25 pt-4 text-secondary"></i>
                </div>

                <div>
                  <h5>Actionable insights 
                  </h5>
                  <p>The outputs of Nestmetric ’s machine learning models can be integrated directly into your user experiences and business automation tools.
                    .</p>
                </div>
              </div>
            </div>

          </div>

        </div>
      </section>






      <!--
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      | CTA
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      !-->
      <section class="section section-inverse py-40" style="background-color: #8ea6e6">
        <div class="container">
          <div class="row gap-y align-items-center">
            <div class="col-12 col-md-9">
              <h4 class="fw-300 mb-0">With all this power, the work that used to take months is now finished in just hours.
                </h4>
            </div>

            <div class="col-12 col-md-3">
              <a class="btn btn-round btn-white" href="">Get Started</a>
            </div>
          </div>
        </div>
      </section>





      <!--
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      | Features
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      !-->
      <section class="section bg-gray">
        <div class="container">
          <header class="section-header">
            <small></small>
            <h2>How It Works</h2>
            <hr>
            <p class="lead">Enables users to build and deploy highly accurate machine learning models in a fraction of the time it takes using traditional data science methods</p>
          </header>


          <div class="row gap-y align-items-center">
            <div class="col-12 col-md-5">
              <img class="rounded shadow-2" src="assets/feature-1.png" alt="..." data-aos="zoom-in">
            </div>

            <div class="col-12 col-md-7">
              <h4>Users upload their data</h4>
              <p>Upload an entirely new set of data for Nestmetric  to train on. This data will serve as the basis on which your machine learning model makes predictions.
              </p>
            </div>
          </div>


          <hr>


          <div class="row gap-y align-items-center">
            <div class="col-12 col-md-7">
              <h4>Select target variables and algorithm
              </h4>
              <p>Nestmetric  gives you the power to solve a variety of problems with a wide selection of ML algorithm and also   specify what metric your machine learning model should predict
                by selecting different events. Nestmetric also allows you to create machine learning models for a wide variety of other business problems such as maximizing retention, increasing upsell and so on.
                .</p>
            </div>

            <div class="col-12 col-md-5">
              <img class="rounded shadow-2" src="assets/landing/feature-2.png" alt="..." data-aos="zoom-in">
            </div>
          </div>


          <hr>


          <div class="row gap-y align-items-center">
            <div class="col-12 col-md-5">
              <img class="rounded shadow-2" src="assets/landing/feature-3.png" alt="..." data-aos="zoom-in">
            </div>

            <div class="col-12 col-md-7">
              <h4>Push a button to generate a thoroughly trained and optimized model that's ready to predict</h4>
              <p>Once you’ve built your machine learning model, Nestmetric  lets you look “under the hood” of machine learning, giving you a detailed view of The Algorithms – how many were trained, and how did the performance of each algorithm (and each variation of each algorithm) rank
              </p>
            </div>
          </div>



        </div>
      </section>



 <!--
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      | CTA
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      !-->
      <section class="section section-inverse py-40" style="background-color: #8ea6e6">
        <div class="container">
          <div class="row gap-y align-items-center">
            <div class="col-12 col-md-9">
              <h4 class="fw-300 mb-0">Nestmetric is for Business analyst, Data scientist, Executives, & Marketers 
                </h4>
            </div>

            <div class="col-12 col-md-3">
              <a class="btn btn-round btn-white" href="">Get Started</a>
            </div>
          </div>
        </div>
      </section>


      <!--
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      | Pricing
      |‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒‒
      !-->
      <section class="section">
        <div class="container">
          <header class="section-header">
            <small>Plans</small>
            <h2>Flexible Pricing</h2>
            <hr>
            <p class="lead opacity-70"> 1 free Model, no credit card required.</p>
          </header>

          <div class="row gap-y text-center">

            <div class="col-12 col-md-4">
              <div class="pricing-1">
                <p class="plan-name">Basic</p>
                <br>
                <h2 class="price">$49</h2>
                <br>

                <small><strong>2</strong> Models</small><br>
                <small><strong>300</strong> Predictions</small><br>
                <small><strong>Small</strong> Model size </small><br>
                
                <br>
                <p class="text-center py-3"><a class="btn btn-primary" href="">Get started</a></p>
              </div>
            </div>


            <div class="col-12 col-md-4">
              <div class="pricing-1">
                <p class="plan-name">Standard</p>
                <br>
                <h2 class="price text-success"><span class="price-unit">$</span>$299</h2>
                <br>
                <small><strong>4</strong> Models</small><br>
                <small><strong>30,000</strong> Predictions</small><br>
                <small><strong>Medium</strong> Model size </small><br>
             
               
                <br>
                <p class="text-center py-3"><a class="btn btn-success" href="">Get started</a></p>
              </div>
            </div>


            <div class="col-12 col-md-4">
              <div class="pricing-1">
                <p class="plan-name">Business</p>
                <br>
                <h2 class="price"><span class="price-unit">$</span>$999</h2>
                <br>

                <small><strong>10</strong> Models</small><br>
                <small><strong>300,000</strong> Predictions</small><br>
                <small><strong>Large</strong> Model size </small><br>
               
                <br>
                <p class="text-center py-3"><a class="btn btn-primary" href="">Get started</a></p>
              </div>
            </div>

          </div>


        </div>
      </section>



     



    </main>
    <!-- END Main container -->






    <!-- Footer -->
    <footer class="site-footer">
  
      <section class="section section-inverse py-40" style="background-color: #8ea6e6">
        <div class="container">
          <div class="row gap-y align-items-center">
            <div class="col-12 col-md-9">
              <h4 class="fw-300 mb-0">Stay focused on the business problem instead of getting lost in the process and workflow
                </h4>
            </div>

            <div class="col-12 col-md-3">
              <a class="btn btn-round btn-white" href="">Get Started</a>
            </div>
          </div>
        </div>
      </section>
 
      ©2018 Nestmetric, Inc.

    </footer>
    <!-- END Footer -->



    <!-- Scripts -->
    <script src="assets/landing/core.min.js"></script>
    <script src="assets/landing/thesaas.min.js"></script>
    <script src="assets/landing/script.js"></script>

  </body>
</html>
